body {
    margin: 0;
    padding: 0;
    background-image: url("assets/images/qbkls.png");
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
}

.heading {
    width: 100%;
    height: 100px;
    background: #ffffff;
    position: absolute;
    border-style: solid;
    border-color: #cccccc;
    border-width: 0px 0px 2px 0px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.name-box {
    width: 250px;
    height: 100px;
    background: #4aaaa5;
    position: absolute;
    left: 230px;
}

header {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 30px;
    padding-top: 40px;

}

.side-nav {
    position: absolute;
    float: right;
    right: 15%;
    clear: both;
    padding-top: 20px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

.about-link {
    color: #dddddd;
    border: none;
    line-height: 2px;
    padding: 30px 30px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #dddddd;
    float: right;
}

.portfolio-link {
    color: #dddddd;
    border: none;
    line-height: 2px;
    padding: 30px 30px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #dddddd;
    float: right;
}

.contact-link {
    color: #dddddd;
    border: none;
    line-height: 2px;
    padding: 30px 30px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #dddddd;
    float: right;
}

a:hover {
    color: #4aaaa5;
}

.portfolio-body {
    background: #ffffff;
    width: 960px;
    height: 580px;
    margin: auto;
    margin-top:150px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    color: #777777;
    padding: 30px;
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
}

h2 {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 30px;
    line-height: 70px;
}

hr {
    background: #dddddd;
    width: 100%;
    height: 3px;
    border: none;
}

.lazarus {
    float: left;
    margin: 20px 20px 0px 12px;
    height: 200px;
}

.lazarus-box {
    width: 200px;
    height: 35px;
    background: #4aaaa5;
    text-align: center;
    font-size: 14px;
    padding-top: 17px;
    color: white;
    position: relative;
    bottom: 70px;
    clear: right;
}

.lazarusimg {
    height: 200px;
    width: 200px;
    opacity: .6;

}

.lazarusimg:hover {
    opacity: 1;
    transition: opacity .6 ease-out;
    -moz-transition: opacity .6s ease-out;
    -webkit-transition: opacity .6s ease-out;
    -o-transition: opacity .6s ease-out;
}

.heart-cloud {
    float: left;
    margin: 20px 20px 0px 12px;
    height: 200px;
}

.heart-cloud-box {
    width: 200px;
    height: 35px;
    background: #4aaaa5;
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    color: white;
    position: relative;
    bottom: 70px;
    clear: right;
}

.heart-cloudimg {
    height: 200px;
    width: 200px;
    opacity: .6;
}

.heart-cloudimg:hover {
    opacity: 1;
    transition: opacity .6 ease-out;
    -moz-transition: opacity .6s ease-out;
    -webkit-transition: opacity .6s ease-out;
    -o-transition: opacity .6s ease-out;
}

.georgia {
    float: left;
    margin: 20px 20px 0px 12px;
    height: 200px;
}

.georgia-box {
    width: 200px;
    height: 35px;
    background: #4aaaa5;
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    color: white;
    position: relative;
    bottom: 70px;
    clear: right;
}

.georgiaimg {
    height: 200px;
    width: 200px;
    opacity: .6;
}

.georgiaimg:hover {
    opacity: 1;
    transition: opacity .6 ease-out;
    -moz-transition: opacity .6s ease-out;
    -webkit-transition: opacity .6s ease-out;
    -o-transition: opacity .6s ease-out;
}

.gov-race {
    float: left;
    margin: 20px 20px 0px 12px;
    height: 200px;
}

.gov-race-box {
    width: 200px;
    height: 35px;
    background: #4aaaa5;
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
    color: white;
    position: relative;
    bottom: 70px;
    clear: right;
}

.gov-raceimg {
    height: 200px;
    width: 200px;
    opacity: .6;
}

.gov-raceimg:hover {
    opacity: 1;
    transition: opacity .6 ease-out;
    -moz-transition: opacity .6s ease-out;
    -webkit-transition: opacity .6s ease-out;
    -o-transition: opacity .6s ease-out;
}

.race-equity {
    float: left;
    margin: 20px 20px 0px 12px;
    height: 200px;
}

.race-equity-box {
    width: 200px;
    height: 35px;
    background: #4aaaa5;
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
    color: white;
    position: relative;
    bottom: 70px;
    clear: right;
}

.race-equityimg {
    height: 200px;
    width: 200px;
    opacity: .8;
}

.race-equityimg:hover {
    opacity: 1;
    transition: opacity .6 ease-out;
    -moz-transition: opacity .6s ease-out;
    -webkit-transition: opacity .6s ease-out;
    -o-transition: opacity .6s ease-out;
}

.how-id-lead {
    float: left;
    margin: 20px 20px 0px 12px;
    height: 200px;
}

.how-id-lead-box {
    width: 200px;
    height: 35px;
    background: #4aaaa5;
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
    color: white;
    position: relative;
    bottom: 70px;
    clear: right;
}

.how-id-leadimg {
    height: 200px;
    width: 200px;
    opacity: .8;
}

.how-id-leadimg:hover {
    opacity: 1;
    transition: opacity .6 ease-out;
    -moz-transition: opacity .6s ease-out;
    -webkit-transition: opacity .6s ease-out;
    -o-transition: opacity .6s ease-out;
}

.capital {
    float: left;
    margin: 20px 20px 0px 12px;
    height: 200px;
}

.capital-box {
    width: 200px;
    height: 35px;
    background: #4aaaa5;
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
    color: white;
    position: relative;
    bottom: 70px;
    clear: right;
}

.capitalimg {
    height: 200px;
    width: 200px;
    opacity: .8;
}

.capitalimg:hover {
    opacity: 1;
    transition: opacity .6 ease-out;
    -moz-transition: opacity .6s ease-out;
    -webkit-transition: opacity .6s ease-out;
    -o-transition: opacity .6s ease-out;
}

.tiger {
    float: left;
    margin: 20px 20px 0px 12px;
    height: 200px;
}

.tiger-box {
    width: 200px;
    height: 35px;
    background: #4aaaa5;
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
    color: white;
    position: relative;
    bottom: 70px;
    clear: right;
}


.tbottom-img {
    height: 200px;
    width: 200px;
    opacity: .8;
    position: absolute;
}

.ttop-img {
    height: 200px;
    width: 200px;
    opacity: 1;
    position: absolute;
}

.ttop-img:hover {
    opacity: 0;
    transition: opacity .6 ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -webkit-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
}

p {
    line-height: 30px;
    padding-top: 30px;
}

.sticky-footer {
    width: 100%;
    height: 30px;
    background: #666666;
    position: fixed;
    bottom: 0;
    text-align: center;
    color: white;
    padding-top: 12px;
    border-top: 8px solid #4aaaa5;
    clear: both;
    margin-top: 185px;
}